
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recognition System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='index.css') }}"
  />
</head>
<body>
    <div >
        <h3>Let us verify You</h3>
    </div>
<div class="container">
    
<form action="{{ url_for('recognize') }}" enctype="multipart/form-data" method="POST">
    <div>
    <h3 >Choose your Face Image</h3>
</div>
<div class="input-container">
    <input class="btn btn-info" name="img" type="file"/>
    <input class="btn btn-primary" type="submit"/>
</div>
</form>

    <div>
        <h5>Haven't Registered yet?</h5>
        <a href="{{url_for('register')}}" class="btn btn-primary">Register Now</a>
    </div>
</div>
</body>